{# pass an array argument to get the messages of those types (['warning', 'error']) #}
{% for label, messages in app.flashes %}
	{% if messages %}
		<section class="message {{label}}">
			<ul>
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
			</ul>
		</section>
	{% endif %}
{% endfor %}
